PORT=4000
FRONTEND_URL=http://localhost:3000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/letterboxd_music?retryWrites=true&w=majority

# JWT
JWT_SECRET=gere_uma_chave_aleatoria

# API - TMDb
TMDB_API_KEY=sua_chave_tmdb

# Google SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_app_do_google
EMAIL_FROM=seu_email@gmail.com
